/* ======= CSS for Fonts ======= */

@font-face{
    font-family: 'Chapline';
    src: url(../../fonts/Chapline_personal_use_only.ttf) format('truetype');
}

/* ============================= */


/* ============================= */



/* ==== CSS for Default Tags ====*/

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2C3539;
    height: 85px;
    color: white;
    font-family: Chapline;
}

nav img{
    margin-left: 5px;
}

a:visited{
    color: white;
} 

h1{
    text-align: center;
    display: inline-block;
    letter-spacing: 0.193em;
    position:relative;
    bottom:20px;
}

main{
    background-color: lightgrey;
    height: 582px;
}

h3{
    text-align: center;
    font-family: "Times New Roman";
    margin-top: 40px;
    color: #2C3539;
}

/* ============================= */



/* ======== CSS for IDs ======== */

#spud{
    margin-top: 10px;
}

#pasta{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#logo{
    margin-left: 90px;
}

#info{
    border: 1px solid #2C3539;
    text-align: justify;
    border-radius: 4px;
    margin: 25px;
    padding: 10px;
}

/* ============================= */



/* ====== CSS for Classes ====== */

.button1 {
    background-color: #2C3539;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 30px;
}

.button {
    background-color: #2C3539;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 120px;
    margin-top: 10px;
}

/* ============================= */



/* === CSS for Input Design ==== */

a { color: #51BBBE; text-decoration: none; }

/* ============================= */



/* ======= CSS for Select ====== */



/* ============================= */